*{
    margin: 0;
    padding: 0;
}
:root {
    --main: rgb(6, 86, 4);
    --dark: #b85804;
    --bg: #f1f1f1;
    --white: #ffffff;
}
.body {
    font-family: 'Times New Roman', Times, serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 30;
    background: var(--main);
}
.navlinks {
    display: flex;
    gap: 4rem;
}
.navlinks a {
    text-decoration: none;
    color: var(--bg);
}
