*{
    margin: 0;
    padding: 0;
}
:root {
    --main: rgb(164, 114, 5);
    --dark: #1A1607;
    --bg: #fffbf0;
    --white: #ffffff;
}
.body {
    font-family: 'Times New Roman', Times, serif;
    background: var(--bg);
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 30;
    background: var(--main);
}
.navlinks {
    display: flex;
    gap: 4rem;
}
.navlinks a {
    text-decoration: none;
    color: var(--bg);
    font-weight: 600;
}
.logo {
    font-weight: 800;
    color: var(--bg);
    font-size: large;
}
.logo span {
    font-weight: 900;
    color: var(--dark);
    font-size: larger;
}
#Home {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 2rem;
  padding: 4rem 5%;
  align-items: center;
  
}
#Home h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  color: var(--main);
  line-height: 0.9;
  grid-column: 1/-1;
}
.hero-map {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
